body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
    cursor: grab;
    overflow: hidden;
    user-select: none;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/img/BG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
}

.bg-container {
    height: 100vh;
    width: max-content;
}

.bg-container img {
    height: 100vh;
    width: auto;
    display: block;
    user-select: none;
    pointer-events: none;
}

/* For devices with a minimum width of 768px (Medium) */
@media screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* For devices with a minimum width of 992px (Large) */
@media screen and (min-width: 992px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}